/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.jp-wrap {
  font-size: 1em;
}

.jp-wrap .caption {
  font-size: 1.1em;
  font-weight: bold;
}

.jp-wrap .entry {
  padding: 2px;
}
.jp-wrap .entry .val {
  font-weight: 200;
}

.jp-wrap img {
  max-width: 200px;
}

.jp-wrap a {
  font-size: 0.9em;
}